Repository Element84/natural-language-geocoding: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

Adding function for testing border_between outside of model use
  src/natural_language_geocoding/models.py
Due: none

Improving tests for better output and handling some LLM randomness
  src/natural_language_geocoding/tests/canned_place_lookup.py
  tests/natural_language_geocoding_tests/conftest.py
Due: none

Updating to use the latest geoai common
  requirements.txt
Due: none

Additional refactoring for testing (#7)
  pyproject.toml
  requirements.txt
  src/natural_language_geocoding/main.py
  src/natural_language_geocoding/models.py
  src/natural_language_geocoding/tests/__init__.py
  src/natural_language_geocoding/tests/canned_place_lookup.py
  src/natural_language_geocoding/tests/states_to_geom.yaml
  tests/natural_language_geocoding_tests/conftest.py
  tests/natural_language_geocoding_tests/states_to_geom.json
  tests/natural_language_geocoding_tests/test_natural_language_geocoding.py
Due: check-toml, check-yaml

Adding support of buffers with nautical miles
  src/natural_language_geocoding/models.py
Due: none

Adding instructions for how to handle ports
  src/natural_language_geocoding/prompt.py
  tests/natural_language_geocoding_tests/test_parsing_with_different_llms.py
Due: none

Feature/maritime improvements (#8)
  src/natural_language_geocoding/models.py
  src/natural_language_geocoding/prompt.py
  tests/natural_language_geocoding_tests/test_parsing_with_different_llms.py
Due: none

Starting to implement a geocoding database
  pyproject.toml
  requirements.txt
  src/natural_language_geocoding/geocode_db/__init__.py
  src/natural_language_geocoding/geocode_db/download_whos_on_first.py
  src/natural_language_geocoding/geocode_db/geocode_db.py
  src/natural_language_geocoding/geocode_db/geocode_db.sql
  src/natural_language_geocoding/geocode_db/ingest_whos_on_first.py
Due: check-toml

Fixing issues ingesting data
  src/natural_language_geocoding/geocode_db/download_whos_on_first.py
  src/natural_language_geocoding/geocode_db/geocode_db.sql
  src/natural_language_geocoding/geocode_db/ingest_whos_on_first.py
Due: none

More fixes for geocoding
  .gitignore
  scripts/ingest_wof_places.sh
  src/natural_language_geocoding/geocode_db/download_whos_on_first.py
  src/natural_language_geocoding/geocode_db/geocode_db.py
  src/natural_language_geocoding/geocode_db/geocode_db.sql
  src/natural_language_geocoding/geocode_db/ingest_whos_on_first.py
Due: none

Updating find_place function to include properties
  src/natural_language_geocoding/geocode_db/geocode_db.sql
Due: none

Changing place type to be an enum
  src/natural_language_geocoding/geocode_db/geocode_db.py
  src/natural_language_geocoding/geocode_db/geocode_db.sql
  src/natural_language_geocoding/geocode_db/ingest_whos_on_first.py
Due: none

Adding additional columns for sources
  src/natural_language_geocoding/geocode_db/geocode_db.py
  src/natural_language_geocoding/geocode_db/geocode_db.sql
  src/natural_language_geocoding/geocode_db/ingest_whos_on_first.py
Due: none

Adding additional columns for sources
  src/natural_language_geocoding/geocode_db/geocode_db.sql
Due: none

Fixed issues processing whos on first files
  src/natural_language_geocoding/geocode_db/ingest_whos_on_first.py
Due: none

Intermediate commit
  src/natural_language_geocoding/geocode_db/geocode_db.py
  src/natural_language_geocoding/geocode_db/geocode_db.sql
Due: none

Adding test implementation using elasticsearch
  pyproject.toml
  requirements.txt
  src/natural_language_geocoding/geocode_index/__init__.py
  src/natural_language_geocoding/geocode_index/geoplace.py
  src/natural_language_geocoding/geocode_index/index.py
  src/natural_language_geocoding/geocode_index/whos_on_first.py
Due: check-toml

Fixing processing of hierarchies
  scripts/ingest_wof_places.sh
  src/natural_language_geocoding/geocode_index/geoplace.py
  src/natural_language_geocoding/geocode_index/index.py
  src/natural_language_geocoding/geocode_index/whos_on_first.py
Due: none

Fixing issues processing WOF names
  src/natural_language_geocoding/geocode_index/geoplace.py
  src/natural_language_geocoding/geocode_index/index.py
  src/natural_language_geocoding/geocode_index/whos_on_first.py
Due: none

Further fixes to hierarchy handling. Starting to implement searching capabilities
  src/natural_language_geocoding/geocode_index/geoplace.py
  src/natural_language_geocoding/geocode_index/index.py
  src/natural_language_geocoding/geocode_index/whos_on_first.py
  src/natural_language_geocoding/models.py
  src/natural_language_geocoding/place_lookup.py
  src/natural_language_geocoding/prompt.py
Due: none

Finished implementing initial search using geocoding index
  src/natural_language_geocoding/__init__.py
  src/natural_language_geocoding/geocode_index/index.py
  src/natural_language_geocoding_demo/app.py
Due: none

Removing geocode database code since we're using opensearch
  pyproject.toml
  requirements.txt
  src/natural_language_geocoding/geocode_db/__init__.py
  src/natural_language_geocoding/geocode_db/geocode_db.py
  src/natural_language_geocoding/geocode_db/geocode_db.sql
  src/natural_language_geocoding/geocode_db/ingest_whos_on_first.py
Due: check-toml

Fixing misc problems during testing
  pyproject.toml
  requirements.txt
  src/natural_language_geocoding/geocode_index/__init__.py
  src/natural_language_geocoding/geocode_index/geoplace.py
  src/natural_language_geocoding/geocode_index/index.py
Due: check-toml

Adding population and the area of the area to the indexed data
  src/natural_language_geocoding/geocode_index/geoplace.py
  src/natural_language_geocoding/geocode_index/index.py
  src/natural_language_geocoding/geocode_index/whos_on_first.py
Due: none

Implementing initial approach to finding the most relevant items
  pyproject.toml
  requirements.txt
  src/natural_language_geocoding/geocode_index/geoplace.py
  src/natural_language_geocoding/geocode_index/index.py
  src/natural_language_geocoding/geocode_index/whos_on_first.py
  src/natural_language_geocoding/natural_earth.py
  src/natural_language_geocoding/place_lookup.py
Due: check-toml

Adding caching to a file
  src/natural_language_geocoding/geocode_index/index.py
  src/natural_language_geocoding/models.py
Due: none

Intermediate commit of refactoring
  src/natural_language_geocoding/geocode_index/geocode_index_place_lookup.py
  src/natural_language_geocoding/geocode_index/geoplace.py
  src/natural_language_geocoding/geocode_index/hierachical_place_cache.py
  src/natural_language_geocoding/geocode_index/index.py
  src/natural_language_geocoding/geocode_index/opensearch_utils.py
  src/natural_language_geocoding/tests/canned_place_lookup.py
  src/natural_language_geocoding_demo/app.py
  tests/natural_language_geocoding_tests/geocode_index/__init__.py
  tests/natural_language_geocoding_tests/geocode_index/test_hierarchical_place_cache.py
Due: none

Adding additional hierarchical place tests
  pyproject.toml
  requirements.txt
  scripts/test.sh
  tests/natural_language_geocoding_tests/geocode_index/test_hierarchical_place_cache.py
Due: check-toml

Finished testing the hierarchical place cache
  src/natural_language_geocoding/geocode_index/hierachical_place_cache.py
  tests/natural_language_geocoding_tests/geocode_index/test_hierarchical_place_cache.py
Due: none

Fixing some issues found with testing
  src/natural_language_geocoding/geocode_index/geocode_index_place_lookup.py
  src/natural_language_geocoding/geocode_index/hierachical_place_cache.py
  src/natural_language_geocoding/geocode_index/opensearch_utils.py
Due: none

Rephrasing TODO
  src/natural_language_geocoding/geocode_index/whos_on_first.py
Due: none

Intermediate commit adding natural earth places
  requirements.txt
  src/natural_language_geocoding/geocode_index/geocode_index_place_lookup.py
  src/natural_language_geocoding/geocode_index/geoplace.py
  src/natural_language_geocoding/geocode_index/hierachical_place_cache.py
  src/natural_language_geocoding/geocode_index/index.py
  src/natural_language_geocoding/geocode_index/ingesters/__init__.py
  src/natural_language_geocoding/geocode_index/ingesters/ingest_utils.py
  src/natural_language_geocoding/geocode_index/ingesters/natural_earth.py
  src/natural_language_geocoding/geocode_index/ingesters/whos_on_first.py
  src/natural_language_geocoding/natural_earth.py
Due: none

Partial update fixing issues with ingesting real geometry into opensearch
  scripts/ingest_wof_places.sh
  src/natural_language_geocoding/geocode_index/ingesters/whos_on_first.py
Due: none

Fixing issue with invalid geometry due to points that are too close together.
  src/natural_language_geocoding/geocode_index/ingesters/whos_on_first.py
Due: none

Fixing some issues with who's on first spatial
  src/natural_language_geocoding/geocode_index/index.py
  src/natural_language_geocoding/geocode_index/ingesters/whos_on_first.py
Due: none

Implemented method to find the hierarchies for natural earth places.
  pyproject.toml
  requirements.txt
  src/natural_language_geocoding/geocode_index/geoplace.py
  src/natural_language_geocoding/geocode_index/index.py
  src/natural_language_geocoding/geocode_index/ingesters/natural_earth.py
  src/natural_language_geocoding/geocode_index/ingesters/whos_on_first.py
  src/natural_language_geocoding/geocode_index/opensearch_utils.py
  tests/natural_language_geocoding_tests/geocode_index/in_memory_geocode_index.py
  tests/natural_language_geocoding_tests/geocode_index/ingesters/__init__.py
  tests/natural_language_geocoding_tests/geocode_index/ingesters/test_natural_earth.py
Due: check-toml

Adding more updates to use GeoPlaceIndexField
  src/natural_language_geocoding/geocode_index/geocode_index_place_lookup.py
  src/natural_language_geocoding/geocode_index/hierachical_place_cache.py
  src/natural_language_geocoding/geocode_index/index.py
  src/natural_language_geocoding/geocode_index/ingesters/whos_on_first.py
Due: none

Refactoring goeplace fields
  src/natural_language_geocoding/geocode_index/geoplace.py
  src/natural_language_geocoding/geocode_index/index.py
  src/natural_language_geocoding/geocode_index/ingesters/natural_earth.py
  src/natural_language_geocoding/geocode_index/ingesters/whos_on_first.py
Due: none

Adding more documentation to geocode index.
  src/natural_language_geocoding/geocode_index/geocode_index_place_lookup.py
  src/natural_language_geocoding/geocode_index/geoplace.py
  src/natural_language_geocoding/geocode_index/hierachical_place_cache.py
  src/natural_language_geocoding/geocode_index/index.py
  src/natural_language_geocoding/geocode_index/ingesters/ingest_utils.py
  src/natural_language_geocoding/geocode_index/ingesters/whos_on_first.py
  src/natural_language_geocoding/geocode_index/opensearch_utils.py
Due: none

Adding tests for geoplace
  src/natural_language_geocoding/geocode_index/geoplace.py
  tests/natural_language_geocoding_tests/geocode_index/test_geoplace.py
Due: none

Path conditions:
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
