Repository Element84/natural-language-geocoding: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black_check
        name: black check
        entry: black
        language: python
        'types_or': [python, pyi]
        args: [--diff, --check, src/]
        require_serial: true
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: pyright
        name: pyright
        entry: pyright
        language: python
        'types_or': [python, pyi]
        args: [--verbose, .]
        require_serial: true

Intermediate commit removing natural earth data
  .gitignore
  pyproject.toml
  src/natural_language_geocoding/main.py
  src/natural_language_geocoding/natural_earth.py
  src/natural_language_geocoding/nominatim.py
Due: check-toml

Finishing coastlines update.
  .gitignore
  README.md
  src/natural_language_geocoding/main.py
  src/natural_language_geocoding/natural_earth.py
Due: none

Adding attribution and changing nominatim API usage to require user agent env var.
  README.md
  src/natural_language_geocoding/nominatim.py
Due: none

Adding testing setup before writing tests. Adding snyk github action.
  .github/workflows/python-test.yml
  .github/workflows/snyk-scan.yml
  README.md
  pyproject.toml
  scripts/test.sh
  tests/test_models.py
Due: check-toml, check-yaml

Fixing run demo instructions
  README.md
Due: none

Switching to streamlit demo to avoid dependency on gradio which has vulnerability
  pyproject.toml
  requirements.txt
  scripts/run_demo.sh
  src/natural_language_geocoding_demo/app.py
Due: check-toml

Fixing issues to make it easier to use from another library
  .vscode/settings.json
  README.md
  src/natural_language_geocoding/__init__.py
  src/natural_language_geocoding/models.py
  src/natural_language_geocoding/prompt.md
  src/natural_language_geocoding/prompt.py
  src/natural_language_geocoding/py.typed
Due: none

Switching to the pypi released library for geoai common.
  dev-requirements.in
  pyproject.toml
  requirements.txt
  scripts/refresh_requirements.sh
  scripts/run_demo.sh
Due: check-toml

Fixing snyk scan by scoping to a particular python version.
  .github/workflows/snyk-scan.yml
  pyrightconfig.json
Due: check-yaml

Upgrading requirements
  requirements.txt
  scripts/refresh_requirements.sh
Due: none

update import paths for e84_geoai_common
  src/natural_language_geocoding/__init__.py
  src/natural_language_geocoding/prompt.py
  src/natural_language_geocoding_demo/app.py
Due: none

add cla pdfs and update readme with cla
  README.md
  docs/cla/2024_1_24-Natural-Language-Geocoding-Open-Source-Contributor-Agreement-Corporate.pdf
  docs/cla/2025_1_24-Natural-Language-Geocoding-Open-Source-Contributor-Agreement-Individual.pdf
Due: none

format readme
  README.md
Due: none

update file name
  docs/cla/2025_1_24-Natural-Language-Geocoding-Open-Source-Contributor-Agreement-Corporate.pdf
Due: none

Updating dependencies and fixing reference to Bedrock code.
  pyproject.toml
  pyrightconfig.json
  requirements.txt
  src/natural_language_geocoding_demo/app.py
Due: check-toml

Reverting change to 'fix' use of e84-geoai-common that didn't fix it
  pyproject.toml
  requirements.txt
  src/natural_language_geocoding_demo/app.py
Due: check-toml

Upgrading python version and adding ruff for linting
  .github/workflows/python-test.yml
  .pre-commit-config.yaml
  .python-version
  pyproject.toml
  pyrightconfig.json
  requirements.txt
  scripts/lint.sh
  src/natural_language_geocoding/__init__.py
  src/natural_language_geocoding/main.py
  src/natural_language_geocoding/models.py
  src/natural_language_geocoding/natural_earth.py
  src/natural_language_geocoding/nominatim.py
  src/natural_language_geocoding/prompt.py
  src/natural_language_geocoding_demo/app.py
Due: check-toml, check-yaml

add pypi automatic publishing support
  .github/workflows/pypi-publish.yml
  .github/workflows/testpypi-publish.yml
  pyproject.toml
Due: check-toml, check-yaml

run on new releases
  .github/workflows/testpypi-publish.yml
Due: check-yaml

Adding tests and updating linting and testing
  .pre-commit-config.yaml
  .vscode/settings.json
  README.md
  pyproject.toml
  requirements.txt
  scripts/lint.sh
  scripts/test.sh
  src/natural_language_geocoding/__init__.py
  src/natural_language_geocoding/models.py
  src/natural_language_geocoding/nominatim.py
  src/natural_language_geocoding/place_lookup.py
  src/natural_language_geocoding/prompt.py
  src/natural_language_geocoding_demo/__init__.py
  tests/natural_language_geocoding_tests/__init__.py
  tests/natural_language_geocoding_tests/canned_place_lookup.py
  tests/natural_language_geocoding_tests/states_to_geom.json
  tests/natural_language_geocoding_tests/test_natural_language_geocoding.py
  tests/natural_language_geocoding_tests/test_parsing_with_different_llms.py
  tests/test_models.py
Due: check-toml, check-yaml

Fixing code to run demo so that .env values are available
  scripts/run_demo.sh
Due: none

Adding support for borders
  src/natural_language_geocoding/models.py
  tests/natural_language_geocoding_tests/canned_place_lookup.py
  tests/natural_language_geocoding_tests/test_natural_language_geocoding.py
Due: none

Fixing snyk config
  .github/workflows/snyk-scan.yml
Due: check-yaml

Reverting snyk change
  .github/workflows/snyk-scan.yml
Due: check-yaml

Trying to fix snyk scan
  .github/workflows/snyk-scan.yml
Due: check-yaml

Trying to fix snyk scan
  .github/workflows/snyk-scan.yml
  pyproject.toml
Due: check-toml, check-yaml

Grasping at straws trying to make snyk work
  pyproject.toml
Due: check-toml

test manually setting python 3.12
  .github/workflows/snyk-scan.yml
Due: check-yaml

removing pip
  .github/workflows/snyk-scan.yml
Due: check-yaml

remove synk specifying python 10
  .github/workflows/snyk-scan.yml
Due: check-yaml

install requirements
  .github/workflows/snyk-scan.yml
Due: check-yaml

run synk:python3.12
  .github/workflows/snyk-scan.yml
Due: check-yaml

mount repo on app
  .github/workflows/snyk-scan.yml
Due: check-yaml

Fixing typo in code
  src/natural_language_geocoding/models.py
Due: none

Updating for e84-geoai-common and adding tests (#2)
  .github/workflows/python-test.yml
  .github/workflows/snyk-scan.yml
  .pre-commit-config.yaml
  .python-version
  .vscode/settings.json
  README.md
  pyproject.toml
  pyrightconfig.json
  requirements.txt
  scripts/lint.sh
  scripts/run_demo.sh
  scripts/test.sh
  src/natural_language_geocoding/__init__.py
  src/natural_language_geocoding/main.py
  src/natural_language_geocoding/models.py
  src/natural_language_geocoding/natural_earth.py
  src/natural_language_geocoding/nominatim.py
  src/natural_language_geocoding/place_lookup.py
  src/natural_language_geocoding/prompt.py
  src/natural_language_geocoding_demo/__init__.py
  src/natural_language_geocoding_demo/app.py
  tests/natural_language_geocoding_tests/__init__.py
  tests/natural_language_geocoding_tests/canned_place_lookup.py
  tests/natural_language_geocoding_tests/states_to_geom.json
  tests/natural_language_geocoding_tests/test_natural_language_geocoding.py
  tests/natural_language_geocoding_tests/test_parsing_with_different_llms.py
  tests/test_models.py
Due: check-toml, check-yaml

Improving documentation for new border types.
  src/natural_language_geocoding/models.py
Due: none

Feature/add borders (#5)
  src/natural_language_geocoding/models.py
  tests/natural_language_geocoding_tests/canned_place_lookup.py
  tests/natural_language_geocoding_tests/test_natural_language_geocoding.py
Due: none

Moving testing code to library for use downstream
  pyproject.toml
  src/natural_language_geocoding/tests/__init__.py
  src/natural_language_geocoding/tests/canned_place_lookup.py
  src/natural_language_geocoding/tests/states_to_geom.yaml
  tests/natural_language_geocoding_tests/states_to_geom.json
  tests/natural_language_geocoding_tests/test_natural_language_geocoding.py
Due: check-toml, check-yaml

Fixing script to initialize natural language geocoding
  src/natural_language_geocoding/main.py
Due: none
